@model RecipeApp.Models.Recipe

@{
    ViewBag.Title = "Details";
}

<h2>Recipe Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RecipeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipeDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Back to List", "Index",null, new { @class="btn btn-primary"})
</p>
