@model IEnumerable<RecipeApp.Models.Recipe>

@{
    ViewBag.Title = "Index";
}


<br>
<p>
    @Html.ActionLink("Create Recipe", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RecipeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipeDescription)
        </th>
        <th>
           
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RecipeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecipeDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new { @class = "btn btn-primary btnStyle" }) 
            @Html.ActionLink("Details", "Details", new { id=item.Id }, new { @class = "btn btn-success btnStyle" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class = "btn btn-danger btnStyle" })
        </td>
    </tr>
}

</table>
