@model RecipeApp.Models.RecipeIncredient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RecipeIncredient</h4>
    <hr />
    <dl class="dl-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.Incredient.IncredientName, "IncredientName", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.DropDownList("IncredientId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IncredientId, "", new { @class = "text-danger" })

        </div>


        <dd>
            @Html.DisplayFor(model => model.Incredient.IncredientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipe.RecipeName)
        </dt>

        <div class="form-group">
           
            @Html.DropDownList("RecipeId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RecipeId, "", new { @class = "text-danger" })

        </div>

        <dd>
            @Html.DisplayFor(model => model.Recipe.RecipeName)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.AmountRequired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountRequired)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
