@model IEnumerable<RecipeApp.Models.Incredient>

@{
    ViewBag.Title = "Index";
}

<br />
<p>
    @Html.ActionLink("Create Incredient", "Create",null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IncredientName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IncredientName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IncredientId },  new { @class = "btn btn-primary btnStyle" }) |
            @Html.ActionLink("Details", "Details", new { id=item.IncredientId }, new { @class = "btn btn-success btnStyle" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IncredientId },  new { @class = "btn btn-danger btnStyle" })
        </td>
    </tr>
}

</table>
